/* Global styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(45deg, #ff7e5f, #feb47b, #ffdb9d, #fffbca);
    background-size: 400% 400%;
    animation: gradientBG 10s ease infinite;
}

@keyframes gradientBG {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.main-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 50px;
    /* Adjust this margin as needed */
}

.container {
    width: 50%;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

h1 {
    margin: 0 0 10px;
}

.button-element {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button-element:hover {
    background-color: #45a049;
}

img {
    max-width: 100%;
    height: auto;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-thumb {
    background-color: #333;
    border-radius: 6px;
}

::-webkit-scrollbar-track {
    background: linear-gradient(45deg, #ff7e5f, #feb47b, #ffdb9d, #fffbca);
}


@media only screen and (max-width: 500px) {
.container {
width: 90%;
margin: 10px auto;
padding: 20px 0px 10px 0px;
}

h1 {
font-size: 25px;
}

.button-element {
padding: 8px 16px;
font-size: 15px;
}
}
